<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List Mobil</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <nav
      class="navbar navbar-expand-lg bg-light fixed-top shadow-sm"
      role="navigation"
    >
      <a class="navbar-brand" href="/list_mobil">Budi Rental</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/list_pesanan">List Booking</a>
          </li>
          <li class="nav-item">
            <a href="/transaksi/1" class="nav-link">List transaksi</a>
          </li>
          <li class="nav-item">
            <a href="/tambah_mobil" class="nav-link">Tambah Mobil</a>
          </li>
          <li class="nav-item d-flex">
            <a href="/start" class="nav-link">Buat Pesanan</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- card -->
    <div class="container">
      <div class="col-md-1 mt-5 pt-5"></div>
      <div class="col-md-10 me-2">
        <div class="row">
          <div class="col text-center mt-3 pt-2" style="padding-left: 160px">
            <h2>List Mobil</h2>
          </div>
        </div>

        <div class="card-container" style="display: flex; flex-direction: row">
          {% for a in mobil %}
          <div class="card shadow-lg m-1 col-md-5">
            <img
              src="{{a.gambar}}"
              class="card-img-top"
              height="270px"
              alt=""
            />
            <div class="card-body">
              <p class="card-text">Nomor Polisi : {{a.platNomor}}</p>
              <p class="card-text">Tahun Mobil : {{a.tahun}}</p>
              <p class="card-text">Tarif/hari : {{a.harga}}</p>
              <p class="card-text">Denda/hari : {{a.denda}}</p>
              <div class="buttons">
                <a href="/delete_mobil/{{a.id}}" class="btn btn-danger"
                  >Delete</a
                >
                <a
                  id="list-pesanan"
                  data-mobil-id="{{a.id}}"
                  class="btn btn-primary list-booking-btn"
                  >List Booking</a
                >
                <a href="/edit_mobil/{{a.id}}" class="btn btn-success"
                  >Edit Mobil</a
                >
              </div>
              <div class="buttons2 mt-2">
                <a
                  href="booking/{{a.id}}"
                  class="btn btn-outline-success pesan-sekarang-btn"
                  data-mobil-id="{{a.id}}"
                  >Pesan Sekarang</a
                >
              </div>
              <div class="text-end text-muted fst-italic fw-light fs-6">last updated : {{a.last_updated}}</div>
            </div>
          </div>
          {% endfor %}
        </div>
        
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-3">
          {% if mobil.has_prev %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('mobilBlueprint.listmobil', page=mobil.prev_num) }}"
              >Previous</a
            >
          </li>
          {% endif %} {% for num in mobil.iter_pages() %} {% if num %}
          <li class="page-item {% if num == mobil.page %}active{% endif %}">
            <a
              class="page-link"
              href="{{ url_for('mobilBlueprint.listmobil', page=num) }}"
              >{{ num }}</a
            >
          </li>
          {% else %}
          <li class="page-item disabled">
            <span class="page-link">&hellip;</span>
          </li>
          {% endif %} {% endfor %} {% if mobil.has_next %}
          <li class="page-item">
            <a
              class="page-link"
              href="{{ url_for('mobilBlueprint.listmobil', page=mobil.next_num) }}"
              >Next</a
            >
          </li>
          {% endif %}
        </ul>
      </nav>

    <!-- Modal -->
    <div
      class="modal fade"
      id="bookingModal"
      tabindex="-1"
      aria-labelledby="bookingModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bookingModalLabel">List Booking</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <ul id="displayBookingList" class="list-group">
              <!-- List of booking items will be dynamically added here -->
            </ul>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        // ...

        // Mengirim permintaan AJAX saat tombol "List Booking" diklik
        $(".list-booking-btn").click(function () {
          var mobilId = $(this).data("mobil-id");
          loadBookingList(mobilId);
        });
      });

      function loadBookingList(mobilId) {
        $.ajax({
          url: "/get_booking_list",
          type: "POST",
          data: { mobil_id: mobilId },
          success: function (response) {
            var bookingList = response.booking_list;
            var bookingListContainer = $("#displayBookingList");
            bookingListContainer.empty();
            displayBookingList(bookingList);
            $("#bookingModal").modal("show");
          },
          error: function (xhr, status, error) {
            console.error(xhr.responseText);
          },
        });
      }

      function displayBookingList(bookingList) {
        var bookingListContainer = $("#displayBookingList");
        bookingListContainer.empty();

        // Buat elemen tabel
        var table = $("<table>").addClass("table");

        // Buat baris header tabel
        var tableHeader = $("<thead>").append(
          $("<tr>").append(
            $("<th>").text("Nama"),
            $("<th>").text("Merk"),
            $("<th>").text("Plat"),
            $("<th>").text("Tanggal Pinjam"),
            $("<th>").text("Tanggal Kembali")
          )
        );
        table.append(tableHeader);

        // Buat baris data untuk setiap pemesanan
        var tableBody = $("<tbody>");
        for (var i = 0; i < bookingList.length; i++) {
          var booking = bookingList[i];
          var tableRow = $("<tr>").append(
            $("<td>").text(booking.nama),
            $("<td>").text(booking.merk),
            $("<td>").text(booking.plat),
            $("<td>").text(booking.tanggalPinjam),
            $("<td>").text(booking.tanggalKembali)
          );
          tableBody.append(tableRow);
        }
        table.append(tableBody);

        // Tambahkan tabel ke dalam modal
        bookingListContainer.append(table);
      }

      var bookingListContainer = $("#displayBookingList");
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
